# This example shows how to download and format an entire Youtube channel
# to display in Kodi as a TV show. The directory format will look like
#
#   /path/to/youtube_tv_shows/My Favorite Youtube Channel
#       /Season 2021
#           s2021.e0317 - St Pattys Day Video.jpg
#           s2021.e0317 - St Pattys Day Video.mp4
#           s2021.e0317 - St Pattys Day Video.nfo
#       /Season 2022
#           s2022.e1225 - Merry Christmas.jpg
#           s2022.e1225 - Merry Christmas.mp4
#           s2022.e1225 - Merry Christmas.nfo
#       poster.jpg
#       fanart.jpg
#       tvshow.nfo
#
# The idea is to use dates as the numeric to represent season and episode
# numbers. Once downloaded, it can immediately be recognized by Kodi.
presets:
  yt_channel_as_tv:
    # Youtube channels are our source/download strategy
    # Use the channel avatar and banner images for Kodi
    youtube:
      download_strategy: "channel"
      channel_avatar_path: "poster.jpg"
      channel_banner_path: "fanart.jpg"

    # For advanced YTDL users only.
    # It is wise to leave ignoreerrors=True to avoid errors for things
    # like age-restricted videos in case you have not set your cookie.
    ytdl_options:
      ignoreerrors: True

    # For each video downloaded, set the file and thumbnail name here.
    # We set both with {episode_name}, which is a variable we define in
    # the overrides section further below to represent our date-like episode
    # naming convention. Using override variables helps reduce copy-paste.
    #
    # Another field worth mentioning is maintain_download_archive=True. This
    # is generally a good thing to enable with channels because it will
    # store previously downloaded video ids to tell YTDL not to re-download
    # them on a successive invocation.
    output_options:
      output_directory: "/path/to/youtube_tv_shows/{sanitized_tv_show_name}"
      file_name: "{episode_name}.{ext}"
      thumbnail_name: "{episode_name}.jpg"
      maintain_download_archive: True

    # Always convert the video thumbnail to jpg
    # TODO: always convert all thumbnails to jpg in code
    convert_thumbnail:
      to: "jpg"

    # For each video downloaded, add an episode NFO file for it. We give it
    # the same date-like episode name using our {episode_name} variable, and
    # populate the NFO with available video metadata that Kodi will recognize.
    nfo_tags:
      nfo_name: "{episode_name}.nfo"
      nfo_root: "episodedetails"
      tags:
        title: "{title}"
        season: "{upload_year}"
        episode: "{upload_month}{upload_day_padded}"
        plot: "{description}"
        year: "{upload_year}"
        aired: "{upload_date_standardized}"

    # In the output directory, create a tvshow.nfo file. Kodi looks for this
    # in the root of the TV show directory to get the TV show (title) name.
    output_directory_nfo_tags:
      nfo_name: "tvshow.nfo"
      nfo_root: "tvshow"
      tags:
        title: "{tv_show_name}"

    # Overrides is a section where we can define our own variables, and use them in
    # any other section. We define our episode file name here, which gets reused above
    # for the video, thumbnail, and NFO file.
    overrides:
      episode_name: "Season {upload_year}/s{upload_year}.e{upload_month_padded}{upload_day_padded} - {sanitized_title}"
