name: ytld-sub CI (Windows)

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
jobs:
  test-unit:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Run unit tests with coverage
      run: |
        curl.exe -o ffmpeg.zip https://github.com/yt-dlp/FFmpeg-Builds/releases/latest/download/ffmpeg-master-latest-win64-gpl.zip
        tar -xf ffmpeg.zip
        ls
        move "ffmpeg-master-latest-win64-gpl\bin\ffmpeg.exe" "ffmpeg.exe"
        move "ffmpeg-master-latest-win64-gpl\bin\ffprobe.exe" "ffprobe.exe"
        
        python -m pip install -e .[test]
        python -m pytest tests/unit

  test-soundcloud:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Run e2e soundcloud tests with coverage
      run: |
        curl.exe -o ffmpeg.zip https://github.com/yt-dlp/FFmpeg-Builds/releases/download/latest/ffmpeg-master-latest-win64-gpl.zip
        tar -xf ffmpeg.zip
        move "ffmpeg-master-latest-win64-gpl\bin\ffmpeg.exe" "ffmpeg.exe"
        move "ffmpeg-master-latest-win64-gpl\bin\ffprobe.exe" "ffprobe.exe"
        
        python -m pip install -e .[test]
        python -m pytest tests/e2e/soundcloud

  test-bandcamp:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Run e2e soundcloud tests with coverage
      run: |
        curl.exe -o ffmpeg.zip https://github.com/yt-dlp/FFmpeg-Builds/releases/download/latest/ffmpeg-master-latest-win64-gpl.zip
        tar -xf ffmpeg.zip
        move "ffmpeg-master-latest-win64-gpl\bin\ffmpeg.exe" "ffmpeg.exe"
        move "ffmpeg-master-latest-win64-gpl\bin\ffprobe.exe" "ffprobe.exe"

        python -m pip install -e .[test]
        python -m pytest tests/e2e/bandcamp


  test-youtube:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Run e2e youtube tests with coverage
      run: |
        curl.exe -o ffmpeg.zip https://github.com/yt-dlp/FFmpeg-Builds/releases/download/latest/ffmpeg-master-latest-win64-gpl.zip
        tar -xf ffmpeg.zip
        move "ffmpeg-master-latest-win64-gpl\bin\ffmpeg.exe" "ffmpeg.exe"
        move "ffmpeg-master-latest-win64-gpl\bin\ffprobe.exe" "ffprobe.exe"
        
        python -m pip install -e .[test]
        python -m pytest tests/e2e/youtube

  test-plugins:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Run e2e plugin tests with coverage
      run: |
        curl.exe -o ffmpeg.zip https://github.com/yt-dlp/FFmpeg-Builds/releases/download/latest/ffmpeg-master-latest-win64-gpl.zip
        tar -xf ffmpeg.zip
        move "ffmpeg-master-latest-win64-gpl\bin\ffmpeg.exe" "ffmpeg.exe"
        move "ffmpeg-master-latest-win64-gpl\bin\ffprobe.exe" "ffprobe.exe"
        
        python -m pip install -e .[test]
        python -m pytest tests/e2e/plugins
